[submodule "hugo-PaperMod"]
	path = hugo-PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod
[submodule "hugo-universal-theme"]
	path = hugo-universal-theme
	url = https://github.com/devcows/hugo-universal-theme
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod
[submodule "themes/Universal"]
	path = themes/Universal
	url = https://github.com/devcows/hugo-universal-theme
[submodule "themes/Relearn"]
	path = themes/Relearn
	url = git@github.com:McShelby/hugo-theme-relearn.git
